<meta http-equiv="content-type" content="text/html" charset="utf-8">
<title><%= title %></title>

<!-- Compiled and minified CSS -->
<!-- Materialze-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Materialize icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="assets/styles/styles.css" rel="stylesheet">